USE [Stok081014]
GO
/****** Object:  Table [dbo].[TEDARIKCI]    Script Date: 10/08/2014 10:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEDARIKCI](
	[TedarikciID] [int] NOT NULL,
	[TedarikciAdi] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[Sehir] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TEDARIKCI] PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEDARIK]    Script Date: 10/08/2014 10:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEDARIK](
	[TedarikciID] [int] NOT NULL,
	[ParcaID] [int] NOT NULL,
	[ProjeID] [int] NOT NULL,
	[Miktar] [int] NOT NULL,
 CONSTRAINT [PK_TEDARIK] PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC,
	[ParcaID] ASC,
	[ProjeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJE]    Script Date: 10/08/2014 10:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJE](
	[ProjeID] [int] NOT NULL,
	[ProjeAdi] [varchar](50) NOT NULL,
	[Sehir] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROJE] PRIMARY KEY CLUSTERED 
(
	[ProjeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARCA]    Script Date: 10/08/2014 10:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARCA](
	[ParcaID] [int] NOT NULL,
	[ParcaAdi] [varchar](50) NOT NULL,
	[Renk] [varchar](50) NOT NULL,
	[Agirlik] [int] NOT NULL,
	[Sehir] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PARCA] PRIMARY KEY CLUSTERED 
(
	[ParcaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
